html{
	width: 100%;
	background-color: #DAF7A6 ;
	padding: 0%;
	border: 0ch;
	margin: 0%;
}

* {
	box-sizing: border-box;
}
p,h1,h2,h3,h4,h4,h6,div,span {
	font-family:PingFangSC-Regular,sans-serif,Microsoft JhengHei;	
}

p {
	font-size: 16px;
}

.banner {
	margin-top: 76px;
}
.banner .container-fluid {
	padding:0!important;
}

.product {
	background-color: #DAF7A6 ;
}
.product .card {
	background-color: #DAF7A6 ;
	padding: 20px 10px;
	margin-bottom: 10px;
}
.product img {
	width:100%;
	height: autO;
	margin-bottom:7px;
}

.row{
	margin:12px;
}

.product_name {
	padding: 10px;
}
